input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inline-radio-button {
  display: flex;
  gap: 20px;
}


.task-details-li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted gainsboro;
}

.sidebar-layout-extend {
  background-color: #fff;
  max-width: 900px;
  width: 100%;
  position: absolute;
  right: 0;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar-header-extend {
  padding: 20px;
  border-bottom: 1px solid #EFF2F5;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  max-width: 900px;
}