input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inline-radio-button {
  display: flex;
  gap: 20px;
}


.task-details-li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted gainsboro;
}