input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inline-radio-button {
  display: flex;
  gap: 20px;
}


.task-details-li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted gainsboro;
}

.sidebar-layout-extend {
  background-color: #fff;
  max-width: 900px;
  width: 100%;
  position: absolute;
  right: 0;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar-header-extend {
  padding: 20px;
  border-bottom: 1px solid #EFF2F5;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  max-width: 900px;
}

.login_admin {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.login_admin_img {
  height: 5rem;
  width: 7rem;
  border-radius: 50%;
  margin-bottom: 5rem;
}

/* .login-btn:first-child:active{

} */

.select_type {
  color: white;
  background: #e2d7d7;
  border-radius: 1rem;
}

.dotted-line {
  border: 1px dotted #e6e6eb;
  margin-bottom: 1.5rem;
}

.bg-highlight {
  background-color: #f0ad4e; /* or any color you prefer */
  font-weight: bold;
}